[Unit]
Description=BSC Mainnet go client
After=syslog.target network.target

[Service]
User=root
Group=root
Type=simple
ExecStart=geth56 --config /work/blockchain-node/bsc/mainnet/config.toml --datadir /work/blockchain-node/bsc/mainnet/node  --cache 18000 --rpc.allow-unprotected-txs --txlookuplimit 0 --ws --http
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target